@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root {
    --font-family: 'Poppins', sans-serif;
    --font-family-styled: 'Sacramento', cursive;
    --Box-shadow-outside: -5px -5px 20px rgba(255, 255, 255, 0.849), 5px 5px 9px rgba(94, 104, 121, 0.3);
    --Box-shadow-inside: inset -5px -5px 9px rgba(255, 255, 255, 0.647), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #ececec;
}

a {
    text-decoration: none;
}

.mobMenu {
    display: none;
}

.MobNavbuttons {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 10px;
    box-shadow: var(--Box-shadow-outside);
    border-radius: 7px;
    position: relative;
}

header h1 {
    font-weight: 400;
    font-size: 17px;
    margin-left: 30px;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin: 0 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.217), inset 0 0 10px rgba(0, 0, 0, 0);
    padding: 5px 15px;
    font-weight: 600;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
}

.listSelected {
    background-color: rgb(53, 137, 255);
    color: white;
}

.addNewSelected {
    background-color: rgb(87, 255, 35);
    color: white;
}

.contactSelected {
    background-color: rgb(95, 95, 95);
    color: white;
}

.fakeApi {
    background-color: rgb(244, 107, 107);
    color: white;
}

.DateTime {
    position: absolute;
    top: 90px;
    right: 2.5%;
    opacity: 0.5;
    font-weight: 600;
}

footer {
    position: fixed;
    display: flex;
    justify-content: start;
    bottom: 0%;
    left: 0%;
    width: calc(100% - 40px);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.878);
    color: white;
}

@media (max-width: 769px) {

    header {
        display: none;
    }

    .NavbuttonsDiv {
        display: none;
    }

    .mobMenu {
        display: flex;
        position: absolute;
        height: 4.5vh;
        left: 3%;
        top: 4%;
        z-index: 10;
    }

    .DateTime {
        position: absolute;
        top: 2%;
        right: 2.5%;
        opacity: 0.5;
        font-weight: 600;
        font-size: small;
    }

    .mobDivForBlur {
        height: 100vh;
        width: 100vw;
        position: fixed;
        backdrop-filter: blur(10px);
        z-index: 1;
    }

    .MobNavbuttons {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 25%;
        align-items: flex-start;
        left: 20%;
        gap: 30px;
        font-size: 22px;
        font-weight: 600;
        list-style-type: none;
    }

    .MobNavbuttons .Navbtn {
        margin: 0 10px;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.217), inset 0 0 10px rgba(0, 0, 0, 0);
        padding: 5px 15px;
        font-weight: 600;
        border-radius: 7px;
        transition: 0.3s ease-in-out;
    }

    .listSelected,
    .addNewSelected,
    .contactSelected,
    .fakeApi {
        background-color: rgb(53, 137, 255);
        color: white;
        margin: 0 10px;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.217), inset 0 0 10px rgba(0, 0, 0, 0);
        padding: 5px 15px;
        font-weight: 600;
        border-radius: 7px;
        transition: 0.3s ease-in-out;
    }

    .addNewSelected {
        background-color: rgb(87, 255, 35);
    }

    .contactSelected {
        background-color: rgb(95, 95, 95);
    }

    .fakeApi {
        background-color: rgb(244, 107, 107);
        color: white;
    }    

    header h1 {
        font-weight: 400;
        font-size: 13px;
        margin-left: 10px;
    }

    @media (max-width: 426px) {

        .mobMenu {
            display: flex;
            position: absolute;
            height: 3.5vh;
            left: 3%;
            top: 4%;
            z-index: 10;
        }
    }

}